@import "_Common.scss";
@import "_Icon.scss";
$c-text:#333;
$c-white:#fff;
$c-grey:#AAA;
$c-grey-lighten:#C7C7C7;
$c-black:#000;
$c-orange:#F28537;
$c-blue:#2D97DE;
$c-red:#EA4B35;

$c-bg-tit:#EFF5F8;
$c-bg-main:#EAEBEB;
$c-bg-side:#7D84A7;
$c-bg-side-title:#969CBA;
$c-bg-side-on:#5B659C;
$c-bg-side-lighten-5:lighten($c-bg-side,5%);
$c-bg-side-lighten-10:lighten($c-bg-side,10%);
$c-bg-btn-close:#EA4B35;


@mixin pos-c{position: absolute;left:50%;top:50%;@include transform(translate(-50%,-50%));}

//主框架布局
html{height:100%;
    *{box-sizing: border-box;}
}
a{@include transition(all .1s linear);}

.main{background:$c-bg-main;height:100%;overflow:hidden;}
.app{height:100%;position: relative;
    .header{width:100%;height:34px;position: absolute;left:0;top:0;z-index: 1;}
    .container{width:100%;overflow:hidden;padding-top: 34px;height:100%;@include box;position: relative;
        .left{height:100%;width:150px;position: relative;}
        .right{height:100%;-webkit-box-flex:1;position: relative;}
        .notes-add{height:54px;width:100%;position: absolute;left:0;top:0;@include align-c;padding:0 15px;
            .title{-webkit-box-flex:1;height:30px;line-height: 30px;cursor:default;}
            .btn{display: block;width:18px;height:18px;position: relative;
                &:before,&:after{content:"";@include pos-c;width:2px;height:10px;}
                &:after{width:10px;height:2px;}
                
            }
        }
        .notes-type{padding-top: 54px;height:100%;
            .list-box{height:100%;overflow:auto;@extend .scroll;}
            .list{}
            li{height:36px;}
        }
        .notes-content{height:100%;padding-bottom: 50px;padding-top: 2px;
            .notes-box{height:100%;overflow:auto;@extend .scroll;margin-right: 2px;}
            .list{}
            .item{}
        }
        .notes-content-add{height:48px;border-top:1px solid darken($c-white,15%);width:100%;position: absolute;left:0;bottom:0;@include box-c;
            .btn{@include box-c;
                i{display: block;width:18px;height:18px;position: relative;margin-right: 8px;
                    &:before,&:after{content:"";width:18px;height:2px;@include pos-c;}
                        &:after{width:2px;height:18px;}
                }
                
            }
        }
        
    }
}


//header 顶部
.header{background:$c-bg-tit;@include pack-c;
    >*{height:inherit;}
    .title{-webkit-box-flex:1;line-height: 34px;color:$c-text;font-size:12px;text-indent: 10px;cursor:default;}
    .menu{@include box;
        .btn{display: block;height:34px;@include box-c;
            &:hover{}
            &.min{width:42px;
                &:before{content:"";display: block;width:12px;height:2px;background:#2B3E51;}
                &:hover{background:darken($c-bg-tit,5%);}
                &:active{background:darken($c-bg-tit,10%);}
            }
            &.close{background:$c-bg-btn-close;width:48px;position: relative;
                &:before,&:after{content:"";width:2px;height:16px;background:$c-white;@include pos-c;@include transform-origin(0 0);}
                &:before{@include transform(rotate(-45deg) translate(-50%,-50%));}
                &:after{@include transform(rotate(45deg) translate(-50%,-50%));}
                &:hover{background:darken($c-bg-btn-close,5%);}
                &:active{background:darken($c-bg-btn-close,10%);}
            }
        }
    }
    
}

//container 内容
.container{
    .left{background:$c-bg-side;overflow: auto;@extend .scroll;
        .notes-add{background:$c-bg-side-title;
            .title{color:$c-white;font-size:16px;@include ellipsis;cursor: default;}
            .btn{border:1px solid $c-white;
                &:before,&:after{background:$c-white;}
                &:hover{background:darken($c-bg-side-title,5%);border-color:darken($c-white,5%);
                    &:before,&:after{background:darken($c-white,5%);}
                }
                &:active{background:darken($c-bg-side-title,10%);border-color:darken($c-white,10%);
                    &:before,&:after{background:darken($c-white,10%);}
                }
            }
        }
        .notes-type{
            
            .list{}
            li{@include ellipsis;font-size:12px;color:$c-white;line-height: 36px;text-indent: 15px;cursor: default;
                &:hover{background-color:$c-bg-side-lighten-10;}
                &.on{background-color:$c-bg-side-on;}
                &.edit{background-color:$c-white;}
            }
        }
    }
    .right{
        .notes-content{
            .notes-box{}
            .list{padding:12px;}
            .item{background:$c-white;border-radius:2px;position: relative;
                &+*{margin-top: 12px;}
                &:hover{box-shadow: 0 2px 3px 1px $c-grey-lighten,0 0px 0px 1px $c-grey-lighten;
                    .btn-box{@include box;}
                
                }
                .title,.text{margin:0 15px;color:$c-text;font-size:14px;@include ellipsis;cursor:default;}
                .title{line-height: 36px;line-height: 36px;}
                .text{border-top:1px solid lighten($c-text,70%);color:lighten($c-text,15%);height:36px;line-height: 36px;}
                .time{border-top: 1px solid $c-orange;padding:0 15px;height:24px;line-height: 24px;font-size:12px;color:lighten($c-text,30%);cursor:default;}
                .btn-box{position: absolute;@include box;right:0;bottom:0;display: none;
                    .btn{font-size:12px;height:24px;line-height: 24px;display: block;text-align: center;width:40px;@include transition(all 0s linear);text-decoration: none;}
                    .edit{color:lighten($c-blue,10%);
                        &:hover{color:$c-blue;}
                        &:active{color:darken($c-blue,10%);}
                    }
                    .del{color:lighten($c-red,10%);
                        &:hover{color:$c-red;}
                        &:active{color:darken($c-red,10%);}
                    }
                }
            }
        }
        .notes-content-add{background:darken($c-white,1%);
            .btn{color:lighten($c-grey,4%);font-size:18px;line-height: 1;text-decoration: none;@include transition(all 0s linear);
                i{display: block;width:18px;height:18px;
                    &:before,&:after{background-color:$c-grey;}
                }
                &:hover{color:$c-blue;
                    i{
                        &:before,&:after{background-color:$c-blue;}
                    }
                }
                &:active{color:darken($c-blue,10%);
                    i{
                        &:before,&:after{background-color:darken($c-blue,10%);}
                    }
                }
                
            }
        }
    }
}

.contentmenu{background:#fff;position: absolute;width:130px;box-shadow:2px 2px 5px rgba($c-black,.3);left:0;top:0;
    ul{}
    li{background:#fff;line-height: 28px;height:28px;color:$c-text;font-size:12px;padding:0 10px;cursor: default;}
    li:hover{background:$c-blue;color:$c-white;}
}

.add-notes-type{@include box-c;position: absolute;left:0;top:0;width:100%;height:100%;background:rgba($c-black,.5);
    .box{width:560px;height:376px;background:#fff;margin-top: 34px;@include box(center,center,vertical);}
    .tit{font-size:12px;color:$c-text;width:410px;height:40px;line-height: 40px;}
    .line{width:410px;@include box;position: relative;
        .inp{-webkit-box-flex:1;border:1px solid $c-grey;padding:8px 5px;height:36px;line-height: 20px;font-size:12px;display: block;
            &::selection{background:$c-blue;}
        }
        .btn{display: block;line-height: 1;@include box-c;font-size:14px;color:#fff;margin-left: 10px;width:95px;height:36px;text-decoration: none;}
        .add{$color:$c-blue;
            background:$color;
            &:hover{background:darken($color,5%);}
            &:active{background:darken($color,10%);}
        }
        .cancel{$color:$c-orange;
            background:$color;
            &:hover{background:darken($color,5%);}
            &:active{background:darken($color,10%);}
        }
        .err{position: absolute;height: 24px; font-size: 12px; color: red; line-height: 24px; bottom: -24px; left: 0;}
    }
}
.add-notes-content{position: absolute;left:0;top:0;width:100%;height:100%;background:$c-bg-main;padding:34+15+px 15px 80px;
    .edit-box{background:$c-white;width:100%;height:100%;position: relative;
        input,textarea{padding:0;border:0;resize: none;width:100%;height:100%;display: block;color:$c-text;
            &::-webkit-input-placeholder{color:lighten($c-grey,15%);}
            &::selection{background:$c-blue;}
        }
        .title{height:53px;border-bottom:1px solid $c-orange;width:100%;position: absolute;left:0;top:0;
            input{font-size:18px;padding-left: 20px;line-height: 30px;height: 52px;padding:11px 20px;}
        }
        .con{width:100%;padding: 53+18+px 2px 2+18+px;height:100%;
            textarea{font-size:12px;@extend .scroll;text-align: justify;padding:0 20px;line-height: 2;}
        }
        
    }
    .btn-box{@include box;width:100%;position: absolute;bottom:0;left:0px;height:80px;padding: 22px 15px 0;
        .right{@include box(end,start);-webkit-box-flex:1;}
        .btn{display: block;line-height: 1;@include box-c;font-size:14px;color:#fff;margin-left: 10px;width:95px;height:36px;text-decoration: none;}
        .type-select{width:130px;height:36px;line-height: 34px;background:#fff;border:1px solid lighten($c-grey,15%);font-size:14px;display: block;}
        .cancel{$color:$c-orange;
            color:$color;
            &:hover{color:darken($color,5%);}
            &:active{color:darken($color,10%);}
        }
        .save{$color:$c-blue;
            background:$color;
            &:hover{background:darken($color,5%);}
            &:active{background:darken($color,10%);}
        }
        .test{color:$c-text;-webkit-user-select:none;
            &:focus{color:$c-red;}
            
        }
    }
    
}

.select-box{height:31px;position: relative; width:131px;
    &:after{content:"";position: absolute;width:0;height:0;border:6px solid transparent;border-top:6px solid $c-blue;right:5px;top:50%;margin-top: -3px;}
    .select-p{display: block;width:100%;height:31px;text-decoration: none;font-size:12px;line-height: 29px;color:$c-text;text-indent: 10px;padding-right: 20px;border:1px solid darken($c-white,15%);background:$c-white;@include ellipsis;cursor: default;}
    .select-p:focus{background:none;}
    .select-ul{border:1px solid $c-grey-lighten;position: absolute;left:0;bottom:31px;background:$c-white;width:100%;max-height: 260px;overflow-y: auto;@extend .scroll;
        .item{padding:0 10px;height:28px;color:$c-text;line-height: 28px;font-size:12px;@include ellipsis;cursor: default;}
        .item:Hover{background:darken($c-blue,0%);color:$c-white;border-top-width:0 !important;}
        .item.on{background:darken($c-blue,10%);color:$c-white;border-top-width:0 !important;}
        .item+.item{border-top:1px solid darken($c-white,15%);}
    }
    .select-ul.hide{display: none;}
    
}

[v-cloak]{opacity:0;}

